project:
  type: website
  output-dir: docs

website:
  title: "5LSH0 computer vision and ai"
  navbar:
    left:
      - href: index.qmd
        text: Home
    right:
      - icon: github
        href: https://github.com/robertvs333/computer-vision-and-ai

execute:
  freeze: auto

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
