/* styles.css */
div.callout-note {
  border-left: none !important;
  border: 1px solid #24296e;
  border-radius: 0.25rem;
  overflow: hidden;
}
div.callout-note .callout-header {
  background-color: #24296e !important; 
  color: white !important;
  font-weight: bold;
}
div.callout-note .callout-body-container {
  background-color: #f2f3f9 !important;
  padding-left: 1em;
  padding-right: 1em;
}
div.callout-note .callout-icon {
  filter: brightness(0) invert(1);
}
.callout-warning.callout-style-custom {
  border: 1px solid #e65100 !important;
  border-left: none !important;
  border-radius: 0.25rem !important;
  overflow: hidden !important;
  --callout-color: #e65100 !important; 
  --callout-bg: #fff8e1 !important; 
}
.callout-warning.callout-style-custom .callout-header {
  background-color: #e65100 !important;
  color: white !important;
  font-weight: bold !important;
}
.callout-warning.callout-style-custom .callout-body-container {
  background-color: #fff8e1 !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.callout-warning.callout-style-custom .callout-icon {
  filter: brightness(0) invert(1) !important; 
}
